.recipe_container {
  display: flex;
}
.recipe_pic {
  width: 40%;
  height: 90vh;
}
.recipe_pic img {
  height: 90vh;
}
.single_recipe {
  overflow: auto;
  width: 60%;
  background-color: #fff;
  height: 560px;
  text-align: center;
}
.heading {
  color: #379683;
  padding: 25px;
}
.heading h1 {
  font-family: cursive;
}
.text h4 {
  color: #379683;
}
.text {
  padding: 40px;
  text-align: left;
}

@media (max-width: 767px) {
  .recipe_container {
    flex-direction: column;
  }
  .recipe_pic,
  .single_recipe {
    width: 100%;
  }
  .single_recipe {
    overflow: none;
  }
}
