/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

#nav {
  background-color: #444;
  color: #379683;
}
#nav ul {
  display: flex;
}
#nav li {
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.logo {
  font-family: cursive;
}
.links li {
  border-bottom: 2px solid transparent;
}
.links li:hover {
  border-color: #379683;
}
.btn {
  cursor: pointer;
  color: #fff;
  background: #379683;
  padding: 8px;
  border: none;
  outline: none;
  border: 2px solid transparent;
}
.btn:hover {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
  outline: none;
}
.btn:focus {
  outline: none;
}
